@page "/admin/categories"
@namespace Client.Pages.Admin.Categories
@using Client.Components.Admin.Sidebar

<main class="admin-area-main">
    <Sidebar />
    <div class="admin-area-content container-fluid bg-white">
        <div class="row g-0">
            <div class="col">
                <h1>Categories</h1>
                <br />
                <hr />
                <br />
                
            </div>
        </div>
    </div>
</main>