@page "/about"
@using Client.Components.Public.Shared

<Navbar/>
<div class="container min-vh-90 py-md-5">
    <div class="row p-4 mt-md-5 shadow-no-hover">
        <div class="col">
            <h3 class="text-primary">Who am I?</h3>
            <h2>I'm Ryan Bertram, a passionate .Net Developer.</h2>
            <p class="d-inline-flex">
                I'm a software developer that specializes in .Net Azure development.
                <br>
                <br>
                Solving problems with software is fun to me.
                <br>
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac nulla sem. Cras at ex ut diam 
                commodo finibus vel eget risus. Suspendisse posuere felis est, eget consectetur magna dignissim
                at. Aenean volutpat vehicula suscipit. Proin vitae mauris id ligula fringilla interdum. Etiam 
                pulvinar tellus quis scelerisque elementum. Etiam et mi est. Ut vel ornare lectus, nec tempor 
                dolor. Etiam eu metus risus. Ut a orci luctus, bibendum nibh ac, pulvinar odio. Aenean justo arcu, 
                tempus sit amet pharetra et, dictum a purus.
                
                Donec tempus est vel turpis dignissim, sit amet convallis massa gravida.
                Fusce accumsan felis mauris, eget rhoncus lacus maximus ut. Curabitur orci elit, tristique
                id auctor sed, hendrerit id lacus. Pellentesque habitant morbi tristique senectus et netus
                et malesuada fames ac turpis egestas. Sed at est blandit, semper nibh et, porta turpis. Nam 
                ut porta augue, eu vehicula urna. Fusce rutrum risus eget ultrices ornare. Nam fringilla 
                erat est, a congue odio ornare at. Donec leo nunc, mollis ac tempus in, ullamcorper eget felis. 
                Donec et turpis eu elit convallis laoreet eget id nunc.
                <br>
                br
                <h2>Background</h2>
                Aliquam erat volutpat. Maecenas semper elit nulla. Integer varius ultrices pellentesque.
                Duis vitae turpis ac augue euismod ultricies. Cras ullamcorper blandit lorem, ac convallis
                quam feugiat nec. Quisque cursus arcu eget nulla luctus, vehicula ornare turpis semper. 
                Pellentesque viverra neque sit amet lectus egestas, vitae finibus augue auctor. 
                Pellentesque dictum tempus purus ac ultrices. Mauris et placerat dui. Fusce porta
                eu purus at eleifend. Vestibulum cursus eros faucibus sem faucibus finibus. 
                Ut vestibulum, est sit amet dapibus pulvinar, nisi eros iaculis dui,
                vel lobortis libero turpis vel tellus.
            </p>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <a href="assets/docs/test-pdf.pdf" 
                       download class="btn btn-primary shadow btn-lg d-flex justify-content-center align-items-center my-4">
                        <i class="fas fa-file-pdf"></i>&nbsp;View Resume
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="assets/docs/test-pdf.pdf" 
                       ownload class="btn btn-secondary shadow btn-lg d-flex justify-content-center align-items-center my-4">
                        <i class="fas fa-project-diagram"></i>&nbsp;Projects
                    </a>
                </div>
                </div>
        </div>
    </div>
</div>
<Footer/>

