@page "/Portfolio"
@using Client.Components.Public.Shared

<Navbar/>
 <main class="container min-vh-90 py-5">
   <div class="row">
     <div class="col">
       <h1 class="mt-3">
         Portfolio
       </h1>
       <p>On this page  you can view the commercial-grade projects I have completed.</p>
       <div class="row mt-4">
         
       </div>
     </div>
   </div>
 </main>
<Footer/>

