@namespace Client.Components.Public.Portfolio

<div class="modal fade" id="informationalModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="informationalModal">
                    Example Portfolio Project
                </h5>
                <button class="btn-close"
                        type="button"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
                <div class="modal-body">
                    <div id="carouselWithIndicators"
                         class="carousel carousel-dark slide"
                         data-bs-write="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselWithIndicators" 
                                    data-bs-slide-to="0" class="active" aria-current="true" aria-label="slide 1"></button>
                            <button type="button" data-bs-target="#carouselWithIndicators" 
                                    data-bs-slide-to="1" aria-label="slide 2"></button>
                            <button type="button" data-bs-target="#carouselWithIndicators" 
                                    data-bs-slide-to="2" aria-label="slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item-active">
                                <a href="assets/img/publicbackgrounds/bg-motherboard-dev.jpg" target="_blank">
                                    <img src="assets/img/publicbackgrounds/bg-motherboard-dev.jpg" class="d-block w-100" alt="Portfolio project carousel image"/>
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="assets/img/publicbackgrounds/bg-motherboard.jpg" target="_blank">
                                    <img src="assets/img/publicbackgrounds/bg-motherboard.jpg" class="d-block w-100" alt="Portfolio project carousel image"/>
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a href="assets/img/publicbackgrounds/bg-motherboard-dev.jpg" target="_blank">
                                    <img src="assets/img/publicbackgrounds/bg-motherboard-dev.jpg" class="d-block w-100" alt="Portfolio project carousel image"/>
                                </a>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselWithIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselWithIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <p class="text-muted my-2">
                        Click an image to view it full screen. (opens a new tab)
                    </p>
                    <a href="https://dotnet.microsoft.com/apps/aspnet" class="btn btn-lg d-block mx-5 btn-primary" target="_blank">
                        <i class="fas fa-laptop-code"></i>
                    </a>
                    <a href="https://dotnet.microsoft.com/apps/aspnetcore" class="btn btn-lg d-block mx-5 bg-dark text-white mt-3" target="_blank">
                        <i class="fas fa-github-square"></i>Github Repo
                    </a>
                    <h1 class="mt-5">Description</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec convallis, orci non viverra blandit, ante leo porttitor velit, commodo ultrices quam lectus eu eros. Proin scelerisque pretium sagittis. Mauris sodales felis eros. Phasellus ut congue ligula. Morbi molestie semper tincidunt. Quisque eu mattis lorem. In eu mi nibh. Donec tincidunt vehicula felis, a consectetur eros pulvinar ac. Etiam hendrerit metus eu orci egestas, quis bibendum leo ultrices. Pellentesque fringilla facilisis odio non sollicitudin. Integer commodo placerat lorem, ut tempus massa dignissim id. Cras nec sem in quam bibendum gravida eget at risus. Nunc gravida lacus et efficitur dignissim. Cras blandit vehicula justo.
                        <br>
                        <br>
                        Aenean lobortis gravida quam nec volutpat. Sed iaculis vulputate leo, ut posuere ipsum pellentesque sed. Curabitur eu auctor eros. Phasellus cursus libero felis. In ante tellus, iaculis lacinia consectetur et, euismod eget arcu. Integer quam urna, aliquam nec varius eu, aliquam ac magna. Quisque laoreet enim a ex facilisis pulvinar. Vivamus sollicitudin arcu posuere eleifend efficitur. Quisque vehicula viverra elit, ut mattis diam venenatis ut.
                    </p>
                    <h1 class="mt-5">
                        Core Features
                    </h1>
                    <ul>
                        <li>Feature One</li>
                        <li>Feature two</li>
                        <li>Feature three</li>
                        <li>Feature four</li>
                        <li>Feature five</li>
                        <li>Feature six</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-lg shadow" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
